* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body,
#sketch-container,
.col {
	display: flex;
}

body {
	background-color: #f4f4f4;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

#sketch-container {
	height: 800px;
	width: 800px;
}

.col {
	flex-direction: column;
	flex: 1;
}

.cell {
	background-color: white;
	flex: 1;
}

.cell.active {
	background-color: black;
}

#new-grid {
	font-size: 1.5rem;
	padding: 0.3em 1em;
	border: none;
	border-radius: 20px;
	background-color: rgb(50, 50, 255);
	color: white;
	font-weight: bold;
	cursor: pointer;
}
