* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, #sketch-container, .col {
    display: flex;
}

body {
    background-color: #f4f4f4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.col {
    flex-direction: column;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: white;
}

.cell.active {
    background-color: black;
}

#new-grid {
    font-size: 1.5rem;
    padding: 0.3em 1em;
    border: none;
    border-radius: 20px;;
    background-color: rgb(50, 50, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
}